<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../javascript/main.js"></script>
</head>
<body>
<form id="task-form">
    <label for="name">Task Name:</label>
    <input type="text" id="name">
    <label for="description">Description: </label>
    <input type="text" id="description">
    <label for="duration">Start Date</label>
    <input type="date" id="duration">
    <button type="submit" id="task-submit-button">Hello</button>
</form>
<ul id="task-list"></ul>

</body>
</html>